* {
  box-sizing: border-box;
}
/* navBar features for navigation to the right section. */
#navBar {
display: flex;
flex-direction: row;
margin: 0px 26%;
width: 72%;
justify-content: right;
}

#navBar a {
  transition: color 0.3s ease;
}

/*this will highlight once it is hovered over*/
a:hover {
  background-color: antiquewhite;
  opacity: 40%;
}

#about, #work, #contact {
  scroll-margin-top: 40px;
}

#navBar a {
  cursor: pointer;
}

#navBar a[href^="#"] {
  scroll-behavior: smooth;
}


#navigation {
  text-decoration: underline;
  display: flex;
  width: 50%;
  align-items: flex-start;
  justify-content: space-evenly;
}

header nav div a {
font-size: 20px;
color: teal;
}

h1 {
  display: flex;
  margin-bottom: -26px;
  margin-left: 58px;
  color: rgb(20, 114, 138);
}

.hero-banner h2 {
  color: rgb(20 114 138 / 64%);
  position:relative;
  left: 516px;
  bottom: -57px;
}

.heading {
  background-color: rgb(181 150 102 / 19%);
}

section div a {
  position: relative;
  top: -312px;
  color: teal;
  font-size: 34px;
  left: 0;
  width: 100%;
  height: calc(100% + 278px);
  z-index: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/* hero banner with the image overlay avater css*/

.hero-banner {
display: flex;
position: reletive;
background-size: cover;
background-image: url(../images/background-6360866_1280.png);
margin-bottom: 118px;
display: grid;
min-height: 200px;
height: 22vh;
}

.image-overlay {
position: absolute;
top: 100px;
width: 20%;
height: 20%;
display: flex;
justify-content: center;
align-items: center;
background: rgba(255 255 255 / 0%);
}

.image-overlay img {
  width: 59%;
  height: auto;
  position: relative;
  opacity: 1;
  transition: .3s ease;
  left: 429%;
  bottom: -91%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

}

#about {
font-family: 'Times New Roman', Times, serif;
justify-content: unset;
margin-bottom: 67px;

}

#work {
  margin-bottom: 114px;
}
/* Main body of the grid*/
.projectsContainer {
margin: 0px 5%;
width:70% ;
flex: 1;
display: grid;
border: 2px solid rgb(181, 150, 102);
grid-template-rows: 400px 200px 200px;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
"project1" "project1" 
"project2" "project3"
"project4" "project5"
;
}

.catogoryGridArea {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin: 5px;
border: 2px solid rgb(181, 150, 102);
display: grid;
align-content: end;
}
/* contact/ these are connected to the contact me*/

.contactLinks {
display: flex;
position: relative;
top: 359px;
margin-left: 58px;
}

.contactLinks a {
  text-decoration: none;
  color: rgb(20, 114, 138);
  margin-top: -25px;
  text-align: right;
  margin-right: 80px;
  font-size: 19px;
}

.page-section {
display: flex;
text-align: center;
font-size: 17px;
color: teal;

}
/* Images of all the projects */
#project1 {
  grid-area: "project1";
  grid-column: span 2;
  background-image: url(../images/Project1.png);
  }

#project2 {
  grid-area: "project2";
  background-image: url(../images/pexels-rodion-kutsaiev-7897470.jpg);
}

#project3 {
  grid-area: "project3";
  background-image: url(../images/Envelope.jpg);
}

#project4 {
  grid-area: "project4";
  background-image: url(../images/02-portfolio-3.jpg);
}

#project5 {
  grid-area: "project5";
  background-image: url(../images/Door.jpg);
}


.page-section h2 { 
width: 17% ;
border-right: 5px solid rgb(119 114 114);
}

#contact {
display: flex;
margin-top: 106px;
}

p {
  margin-left: 12px;
  position: relative;
  left: 66px;
  text-align: left;
  bottom: 3px;
  font-weight: 500;
  color: rgb(20, 114, 138);
}

/* Styles for small screens (e.g., mobile phones) */

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(243, 238, 243);
    p { font-size: 1.25rem;

    }
  }
}

/* Styles for medium screens (e.g., tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  body { background-color: rgb(246, 244, 243);
    p { font-size: 1.5rem;
      line-height: 1.5;

    }
  }
}

/* Styles for larger screens (e.g., laptops and desktops) */
@media screen and (min-width: 1025px) {
  body {background-color: rgb(242, 245, 242);
  aspect-ratio: auto;
  font-size: 1.6rem;
  }
}


