* {
  box-sizing: border-box;
}

#navBar {
display: flex;
flex-direction: row;
margin: 0px 5%;
width: 72%;
justify-content: right;
}

#navigation {
  text-decoration: underline;
  display: flex;
  width: 50%;
  align-items: ;
  justify-content: space-evenly;
}

h1 {
  display: flex;
  color: rgb(20, 114, 138);
}

a {
  position: relative;
  top: -127px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 34px;
  left: 0;
  width: 100%;
  height: calc(100% + 115px);
  z-index: 1;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.hero-banner {
display: flex;
background-position: center;
background-size: cover;
background-image: url(../images/background-6360866_1280.png);
margin-bottom: 118px;
display: grid;
min-height: 200px;
height: 50vh;

}

#about {
font-family: 'Times New Roman', Times, serif;
justify-content: unset;
margin-bottom: 67px;

}

#work {
  margin: auto;
}
/*this will highlight once it is hovered over*/

a:hover {
  background-color: antiquewhite;
}


.projectsContainer {
margin: 0px 5%;
width:70% ;
flex: 1;
display: grid;
border: 2px solid black;
grid-template-rows: 200px 200px 200px;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
"project1" "project1" 
"project2" "project3"
"project4" "project5"
;
}

.catogoryGridArea {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin: 5px;
border: 2px solid black;
display: grid;
align-content: end;
}


.contactLinks {
flex: 1;
}

.page-section {
display: flex;

}

#project1 {
  grid-area: "project1";
  grid-column: span 2;
  background-image: url(../images/Project1.png);
  }

#project2 {
  grid-area: "project2";
  background-image: url(../images/02-portfolio-4.jpg);
}

#project3 {
  grid-area: "project3";
  background-image: url(../images/02-portfolio-2.jpg);
}

#project4 {
  grid-area: "project4";
  background-image: url(../images/02-portfolio-3.jpg);
}

#project5 {
  grid-area: "project5";
  background-image: url(../images/02-run-buddy.jpg);
}


.page-section h2 { 
width: 17% ;
border-right: 5px solid black;
}
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Styles for small screens (e.g., mobile phones) */

@media screen and (max-width: 768px) {
  
}

/* Styles for medium screens (e.g., tablets) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  
}

/* Styles for larger screens (e.g., laptops and desktops) */
@media screen and (min-width: 1025px) {
  
}


